# Secrets
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database / Vector store
*.db
*.sqlite
data/
chroma_db/

# Virtual environments
venv/
.venv/

# OS
.DS_Store
